@charset "utf-8";

th{font-weight: bold; text-align: center;}
td{text-align: center;}

.app_content {
    width: 600px;
}
.app_content p{
    padding: 0;
    width: 600px;
    color: blue;
}

.gridTbody table td,th{
    text-align: center;
}
.gridTbody table td div{
    margin-left: auto;
    margin-right: auto;
}

._week_content td{
    font-weight: bold;
}